version: "3.8"

services:
  backend:
    image: node:18-alpine
    container_name: backend-monitor
    working_dir: /app
    command: sh -c "npm install && node index.js"
    volumes:
      - ./:/app
    environment:
      - PORT=3000
      - LOKI_HOST=http://loki:3100
    ports:
      - "3000:3000"
    depends_on:
      - loki
    labels:
      promtail: "true"
      app: loki-backend-monitoring

  prom-server:
    image: prom/prometheus
    container_name: prom-server
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus-config.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - backend

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yml:/etc/loki/config.yml:ro
      - loki-data:/loki
    command: -config.file=/etc/loki/config.yml

  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    ports:
      - "4000:3000"
    depends_on:
      - prom-server
      - loki
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana-datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml:ro

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - ./promtail-config.yml:/etc/promtail/promtail-config.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/promtail-config.yml
    depends_on:
      - loki

volumes:
  loki-data:
  grafana-data: